/*ESTILO DEFAULT*/
body{
	background-image: url(../Imagenes/fondo.jpg);
}


/*TERMINA ESTILO DEFAULT*/
.imagen{
	
	margin: 5% 30% 0 30%;
	text-align:center;
}

h1{
	color: white;
	text-align: center;
	font-size: 400%;
}
#menu{
	color:white;
	font-size:120%;
	height: 100px;
	height: 20%;
	width: 40%;
	padding: 10px;
	margin: 5% 30% 0 30%;
	text-align: center;
}
.sub1{
	background-color: #FD573D;
}
.sub2{
	background-color: #FF9333;

}
.sub3{
	background-color: #FFD933;

}
.sub4{
	background-color: #FD573D;
}
.sub5{
	background-color: #FF9333;

}
.sub6{
	background-color: #FFD933;

}
.sub7{
	background-color: #FD573D;
}
.sub8{
	background-color: #FF9333;

}
.sub9{
	background-color: #FFD933;

}
.sub10{
	background-color: #FD573D;
}
.sub11{
	background-color: #FF9333;

}
.sub12{
	background-color: #FFD933;

}
.sub13{
	background-color: #FFD933;

}
.sub14{
	background-color: #FD573D;
}
.sub15{
	background-color: #FF9333;

}
.sub16{
	background-color: #FFD933;

}
.sub3{
	background-color: #FFD933;

}
.regresar{
	background-color: #20A9F0;
}